<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295068575764-7gjmticokr3cnhdm8c521anrkrmv5cfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295068575764-7gjmticokr3cnhdm8c521anrkrmv5cfl</string>
	<key>API_KEY</key>
	<string>AIzaSyA3o94CH9cYNrtBiLsjaCWJv7c5dUWYGvw</string>
	<key>GCM_SENDER_ID</key>
	<string>295068575764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradutionproject</string>
	<key>PROJECT_ID</key>
	<string>iotfinalproject-d6593</string>
	<key>STORAGE_BUCKET</key>
	<string>iotfinalproject-d6593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295068575764:ios:559768cd2cb80557539f01</string>
</dict>
</plist>